
.grid-item {
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
  filter: opacity(1);
  transform: scale(1.7);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 10px;
  padding: 20px;
  grid-auto-flow: dense;
}









