
.slider-container{
    height: 300px; 
    margin:auto; 
    position:relative; 
    width: 80%;
    display: grid; 
    place-items: center; 
    overflow-x:auto;
    scroll-snap-type: x;
    scrollbar-width: none;
    transform: translate3d(0, 0, 0);
}

.slider-container::-webkit-scrollbar {
    width: 0;
}

.slider-box{
    display: flex; 
    width: calc(200px * 18); 
    animation:moveSlideshow 30s linear infinite; 
}

.slider-box:hover{
animation-play-state: paused;

}
.slider{
height: 200px; 
width:200px; 
display:flex; 
align-items: center;
padding:15px; 
perspective:100px; 
scroll-snap-align: center;
}

@keyframes moveSlideshow {
    0%{
        transform:translate3D(0);
    }
    100%{
        transform: translateX(-66.6666%) 
    }
}

img{
    width:100%; 
    transition: transform 1%;
    scroll-snap-align: center;
}
img:hover{
    transform:translateZ(20px); 
}


.slider-box::before, 
.slider-box::after{
content: '';
position: absolute; 
width:15%; 
z-index: 2;

}
.slider-box::before{
    left:0;
    top:0;
}

.slider-box::after{
    left:0;
    top:0;
    transform:rotateZ(180deg); 
}