.porta-container { 
        top:0; 
        height: 100%;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

@media only screen and (max-width:880px){
        svg {
        display:none; 
        }
}